@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../img/city_bleu.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
  border-color: #fc6e7c;
}

.input-box i{
  position: absolute;
  color: #fc6e7c;
  font-size: 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 0 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  /* border: none; */
  border: 2px solid #fff;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 15px;
  transition-duration: 0.4s;
}

.wrapper .btn:hover {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p label {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wrapper .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.login-link p label {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.login-link p label:hover {
  text-decoration: underline;
  cursor: pointer;
}

form .input-box .showBtn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

form .indicator {
  height: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

form .indicator span {
  position: relative;
  height: 50%;
  width: 50%;
  background: lightgrey;
  border-radius: 5px;
}

form .indicator span:nth-child(2) {
  margin: 0 3px;
}

form .indicator span.active:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.indicator span.weak:before {
  background-color: #ff4757;
}

.indicator span.medium:before {
  background-color: orange;
}

.indicator span.strong:before {
  background-color: #23ad5c;
}

form .text {
  font-size: 16px;
  font-weight: 500;
  display: none;
  margin-bottom: -10px;
}

form .text.weak {
  color: #ff4757;
}

form .text.medium {
  color: orange;
}

form .text.strong {
  color: #23ad5c;
}

.registration{
  display: none;
}

#check:checked ~ .registration{
  display: block;
}

#check:checked ~ .login{
  display: none;
}

#check{
  display: none;
}